* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
}

.bg-image{
  background-image: url('../public/image/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}